Repository JimMcMahon-WWT/windsurf-lab4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-dev-1, @auth-team-lead, @senior-dev-2, @catalog-team-lead, @senior-dev-3, @orders-team-lead, @payments-team-lead, @senior-dev-4, @security-lead, @inventory-team-lead, @platform-team-lead, @search-team-lead, @dba-lead, @devops-lead, @infra-team-lead, @k8s-admin, @tech-writer, @qa-lead

test: should fail
  test.txt
Owners: @tech-lead, @senior-dev-1

feat(user-service): add email validation utility
  services/user-service/src/validators/email.validator.ts
Owners: @auth-team-lead, @senior-dev-2

feat(user-service): add email validation utility (#1)
  services/user-service/src/validators/email.validator.ts
Owners: @auth-team-lead, @senior-dev-2

feat(user-service): add phone number validation utilities
  services/user-service/src/validators/phone.validator.ts
Owners: @auth-team-lead, @senior-dev-2

feat(user-service): add phone number validation utilities (#2)
  services/user-service/src/validators/phone.validator.ts
Owners: @auth-team-lead, @senior-dev-2

hotfix: increase login timeout to 30 seconds
  services/user-service/src/config/auth.config.ts
Owners: @auth-team-lead, @senior-dev-2

hotfix: increase login timeout to 30 seconds (#3)
  services/user-service/src/config/auth.config.ts
Owners: @auth-team-lead, @senior-dev-2

chore: prepare release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  services/user-service/package.json
Owners: @tech-lead, @senior-dev-1

Release/1.1.0 (#4)
  CHANGELOG.md
  package-lock.json
  package.json
  services/user-service/package.json
  services/user-service/src/config/auth.config.ts
  services/user-service/src/validators/phone.validator.ts
Owners: @tech-lead, @senior-dev-1, @auth-team-lead, @senior-dev-2

feat(user-service): complete foundation layer with database, auth, and repository
  services/user-service/.env.example
  services/user-service/IMPLEMENTATION_STATUS.md
  services/user-service/TESTING.md
  services/user-service/migrations/002_add_auth_and_preferences.sql
  services/user-service/package.json
  services/user-service/scripts/run-migrations.ts
  services/user-service/scripts/test-setup.ts
  services/user-service/src/config/database.config.ts
  services/user-service/src/config/redis.config.ts
  services/user-service/src/repositories/user.repository.ts
  services/user-service/src/types/user.types.ts
  services/user-service/src/utils/auth.utils.ts
  services/user-service/src/utils/logger.utils.ts
  services/user-service/src/validators/auth.validator.ts
Owners: @security-lead, @auth-team-lead, @senior-dev-2, @dba-lead, @senior-dev-1, @tech-lead

chore: update package-lock.json for user-service dependencies
  package-lock.json
Owners: @tech-lead

Add Elasticsearch integration for product search
  services/product-service/scripts/seed-data.ps1
Owners: @catalog-team-lead, @senior-dev-3

Add docker-compose.yml for PostgreSQL, Redis, and Elasticsearch
  docker-compose.yml
Owners: @devops-lead

Add docker-compose.yml and update dependencies
  package-lock.json
Owners: @tech-lead

Add Order Service with Event Sourcing and SAGA pattern
  docker-compose.yml
  services/order-service/.env.example
  services/order-service/README.md
  services/order-service/package.json
  services/order-service/schema.sql
  services/order-service/src/config/database.config.ts
  services/order-service/src/config/kafka.config.ts
  services/order-service/src/config/redis.config.ts
  services/order-service/src/controllers/cart.controller.ts
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/events/base.event.ts
  services/order-service/src/events/event-publisher.ts
  services/order-service/src/events/event-store.ts
  services/order-service/src/models/aggregate.base.ts
  services/order-service/src/models/order.aggregate.ts
  services/order-service/src/routes/cart.routes.ts
  services/order-service/src/routes/order.routes.ts
  services/order-service/src/sagas/order-saga.ts
  services/order-service/src/server.ts
  services/order-service/src/services/cart.service.ts
  services/order-service/src/services/order.service.ts
  services/order-service/src/types/order.types.ts
  services/order-service/src/utils/logger.utils.ts
  services/order-service/tsconfig.json
  test-order.ps1
Owners: @devops-lead, @security-lead, @tech-lead, @senior-dev-1, @orders-team-lead

Add Order Service with Event Sourcing and SAGA pattern
  package-lock.json
Owners: @tech-lead

feat: Add payment service with Stripe integration
  services/payment-service/.env.example
  services/payment-service/.gitignore
  services/payment-service/README.md
  services/payment-service/package.json
  services/payment-service/schema.sql
  services/payment-service/scripts/setup.ps1
  services/payment-service/src/config/database.config.ts
  services/payment-service/src/config/redis.config.ts
  services/payment-service/src/controllers/payment.controller.ts
  services/payment-service/src/controllers/webhook.controller.ts
  services/payment-service/src/middleware/validation.middleware.ts
  services/payment-service/src/providers/paypal.provider.ts
  services/payment-service/src/providers/stripe.provider.ts
  services/payment-service/src/routes/payment.routes.ts
  services/payment-service/src/server.ts
  services/payment-service/src/services/fraud-detection.service.ts
  services/payment-service/src/services/payment.service.ts
  services/payment-service/src/utils/encryption.utils.ts
  services/payment-service/src/utils/logger.utils.ts
  services/payment-service/tsconfig.json
  test-all-refunds.ps1
  test-capture.ps1
Owners: @security-lead, @payments-team-lead, @senior-dev-4, @tech-lead, @senior-dev-1

chore: Update package-lock.json for payment service
  package-lock.json
Owners: @tech-lead

feat: update docker-compose for monorepo containerization
  docker-compose.yml
Owners: @devops-lead

feat: containerize payment service with Docker
  package-lock.json
  services/payment-service/Dockerfile
  services/payment-service/package.json
  services/payment-service/src/middleware/validation.middleware.ts
  services/payment-service/src/providers/paypal.provider.ts
  services/payment-service/src/utils/encryption.utils.ts
Owners: @tech-lead, @devops-lead, @senior-dev-1, @payments-team-lead, @senior-dev-4, @security-lead

feat: containerize user service with Docker
  services/user-service/Dockerfile
  services/user-service/src/config/database.ts
  services/user-service/src/middlewares/auth.middleware.ts
  services/user-service/src/services/user.service.ts
Owners: @devops-lead, @auth-team-lead, @senior-dev-2

docs: add containerization implementation guide
  COMMIT_MESSAGES.txt
  CONTAINERIZATION_PROGRESS.md
  FILES_CHANGED.md
Owners: @tech-lead, @senior-dev-1

docs: add additional containerization guides
  CONTAINERIZATION_GUIDE.md
  CONTAINERIZATION_SUMMARY.md
  DEPLOYMENT_QUICK_START.md
Owners: @tech-lead, @senior-dev-1

feat: containerize all 4 microservices with Docker
  docker-compose.yml
  identify-node-processes.ps1
  k8s/README.md
  k8s/configmap.yaml
  k8s/deploy.ps1
  k8s/deploy.sh
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/monitoring/grafana.yaml
  k8s/monitoring/prometheus-config.yaml
  k8s/namespace.yaml
  k8s/order-service.yaml
  k8s/payment-service.yaml
  k8s/product-service.yaml
  k8s/secrets.yaml
  k8s/user-service.yaml
  services/order-service/Dockerfile
  services/order-service/package.json
  services/order-service/src/config/database.config.ts
  services/order-service/src/events/event-store.ts
  services/order-service/src/services/order.service.ts
  services/product-service/Dockerfile
  services/product-service/src/config/database.config.ts
Owners: @devops-lead, @tech-lead, @senior-dev-1, @orders-team-lead, @catalog-team-lead, @senior-dev-3

docs: add comprehensive containerization completion summary
  CONTAINERIZATION_COMPLETE.md
Owners: @tech-lead, @senior-dev-1

feat: implement comprehensive container monitoring stack
  CONTAINERIZATION_COMPLETE.md
  MONITORING_STATUS.md
  docker-compose.yml
  monitoring/README.md
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/dashboards/services-overview.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus/prometheus.yml
Owners: @tech-lead, @senior-dev-1, @devops-lead

feat: add Prometheus metrics endpoints to all microservices
  package-lock.json
  services/order-service/package.json
  services/order-service/src/server.ts
  services/order-service/src/utils/metrics.utils.ts
  services/payment-service/package.json
  services/payment-service/src/server.ts
  services/payment-service/src/utils/metrics.utils.ts
  services/product-service/Dockerfile
  services/product-service/package.json
  services/product-service/src/app.ts
  services/product-service/src/server.ts
  services/product-service/src/utils/logger.utils.ts
  services/product-service/src/utils/metrics.utils.ts
  services/user-service/package.json
  services/user-service/src/app.ts
  services/user-service/src/utils/metrics.utils.ts
Owners: @tech-lead, @senior-dev-1, @orders-team-lead, @payments-team-lead, @senior-dev-4, @security-lead, @devops-lead, @catalog-team-lead, @senior-dev-3, @auth-team-lead, @senior-dev-2

feat: add comprehensive CI/CD pipeline with blue-green deployment
  .github/workflows/deploy-production.yml
  .github/workflows/security-scan.yml
  docs/CICD_IMPLEMENTATION_SUMMARY.md
  docs/CICD_PIPELINE.md
  docs/CICD_QUICK_START.md
  docs/GITHUB_SECRETS_SETUP.md
  scripts/health-check.js
  scripts/migrate-production.js
  scripts/monitor-canary.js
  scripts/performance-check.js
Owners: @tech-lead, @devops-lead, @tech-writer, @senior-dev-1

fix: remove env variable from job-level if condition in deploy workflow
  .github/workflows/deploy-production.yml
Owners: @tech-lead, @devops-lead

fix: update CI workflow to match existing services
  .github/workflows/ci.yml
Owners: @tech-lead, @devops-lead, @senior-dev-1

fix: change turbo.json tasks to pipeline for Turbo 1.11.0 compatibility
  turbo.json
Owners: @tech-lead, @senior-dev-1

fix: make linting non-blocking in CI pipeline
  .github/workflows/ci.yml
Owners: @tech-lead, @devops-lead, @senior-dev-1

chore: add gitattributes for consistent line endings
  .gitattributes
Owners: @tech-lead, @senior-dev-1

fix: update validator package to resolve security vulnerability
  package-lock.json
Owners: @tech-lead

fix: skip husky install in CI environments
  package.json
Owners: @tech-lead, @senior-dev-1

fix: add missing test scripts to payment and order services
  services/order-service/package.json
  services/payment-service/package.json
Owners: @tech-lead, @senior-dev-1

fix: add passWithNoTests flag to allow CI to pass without test files
  services/order-service/package.json
  services/payment-service/package.json
  services/product-service/package.json
  services/user-service/package.json
Owners: @tech-lead, @senior-dev-1

fix: update artifact actions from v3 to v4 to resolve deprecation
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Owners: @tech-lead, @devops-lead, @senior-dev-1

fix: move Slack webhook_url to env variable per action requirements
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/security-scan.yml
Owners: @tech-lead, @devops-lead, @senior-dev-1

fix: make Slack notifications non-blocking with continue-on-error
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
Owners: @tech-lead, @devops-lead, @senior-dev-1

.github/CODEOWNERS:

# CODEOWNERS - Automatically request reviews from code owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - notified on all PRs
* @tech-lead @senior-dev-1

# Service-specific owners
/services/user-service/ @auth-team-lead @senior-dev-2
/services/product-service/ @catalog-team-lead @senior-dev-3
/services/cart-service/ @catalog-team-lead @senior-dev-3
/services/order-service/ @orders-team-lead @senior-dev-1
/services/payment-service/ @payments-team-lead @senior-dev-4 @security-lead
/services/inventory-service/ @inventory-team-lead @senior-dev-2
/services/notification-service/ @platform-team-lead @senior-dev-1
/services/search-service/ @search-team-lead @senior-dev-3

# Shared packages - require broader review
/packages/ @tech-lead @senior-dev-1 @senior-dev-2
/packages/auth/ @auth-team-lead @security-lead
/packages/database/ @dba-lead @senior-dev-1
/packages/events/ @platform-team-lead @senior-dev-2

# Infrastructure - DevOps team approval required
/infrastructure/ @devops-lead @infra-team-lead
/infrastructure/terraform/ @devops-lead @infra-team-lead
/infrastructure/kubernetes/ @devops-lead @k8s-admin
/infrastructure/docker/ @devops-lead
docker-compose.yml @devops-lead
Dockerfile @devops-lead
**/Dockerfile @devops-lead

# CI/CD - DevOps and tech lead approval
/.github/ @tech-lead @devops-lead
/.github/workflows/ @tech-lead @devops-lead
.github/workflows/ci.yml @tech-lead @devops-lead @senior-dev-1

# Security-sensitive files
**/.env.example @security-lead
**/migrations/ @dba-lead
/.husky/ @tech-lead

# Documentation - tech lead review
/docs/ @tech-lead @tech-writer
README.md @tech-lead
CONTRIBUTING.md @tech-lead
CHANGELOG.md @tech-lead

# Configuration files - require careful review
package.json @tech-lead @senior-dev-1
package-lock.json @tech-lead
turbo.json @tech-lead @senior-dev-1
tsconfig.json @tech-lead @senior-dev-1
.eslintrc.js @tech-lead
.prettierrc @tech-lead

# Database schemas and migrations - DBA review required
**/migrations/*.sql @dba-lead @senior-dev-1
**/seeds/*.sql @dba-lead

# Test files - QA team can also review
**/tests/ @qa-lead
**/*.test.ts @qa-lead
**/*.spec.ts @qa-lead
