Repository JimMcMahon-WWT/windsurf-lab4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-dev-1, @auth-team-lead, @senior-dev-2, @catalog-team-lead, @senior-dev-3, @orders-team-lead, @payments-team-lead, @senior-dev-4, @security-lead, @inventory-team-lead, @platform-team-lead, @search-team-lead, @dba-lead, @devops-lead, @infra-team-lead, @k8s-admin, @tech-writer, @qa-lead

chore: add pre-commit hook for lint-staged
  .husky/pre-commit
Owners: @tech-lead

fix: update CodeQL actions to v3 and make external scans non-blocking
  .github/workflows/security-scan.yml
Owners: @tech-lead, @devops-lead

security: add rate limiting to prevent brute force and DoS attacks
  services/user-service/src/middlewares/rate-limit.middleware.ts
  services/user-service/src/routes/auth.routes.ts
  services/user-service/src/routes/user.routes.ts
Owners: @auth-team-lead, @senior-dev-2

security: fix user-controlled bypass vulnerabilities (CWE-807, CWE-290)
  services/payment-service/src/controllers/webhook.controller.ts
  services/payment-service/src/providers/paypal.provider.ts
  services/user-service/src/middlewares/auth.middleware.ts
Owners: @payments-team-lead, @senior-dev-4, @security-lead, @auth-team-lead, @senior-dev-2

security: add explicit validation to prevent bypass attacks (CWE-807, CWE-290)
  services/payment-service/src/controllers/webhook.controller.ts
  services/user-service/src/middlewares/auth.middleware.ts
Owners: @payments-team-lead, @senior-dev-4, @security-lead, @auth-team-lead, @senior-dev-2

security: add detailed review notes for CodeQL findings (no suppression)
  services/payment-service/src/controllers/webhook.controller.ts
  services/user-service/src/middlewares/auth.middleware.ts
Owners: @payments-team-lead, @senior-dev-4, @security-lead, @auth-team-lead, @senior-dev-2

docs: fix line number references in Security Review Notes
  services/payment-service/src/controllers/webhook.controller.ts
  services/user-service/src/middlewares/auth.middleware.ts
Owners: @payments-team-lead, @senior-dev-4, @security-lead, @auth-team-lead, @senior-dev-2

feat: implement comprehensive monitoring and observability stack
  monitoring/COMPREHENSIVE_MONITORING_GUIDE.md
  monitoring/alertmanager/config.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/filebeat/filebeat.yml
  monitoring/logstash/config/logstash.yml
  monitoring/logstash/pipeline/logstash.conf
  monitoring/prometheus/alerts/service_alerts.yml
  monitoring/prometheus/prometheus.yml
  monitoring/start-monitoring.ps1
  monitoring/start-monitoring.sh
Owners: @tech-lead, @senior-dev-1

Configure monitoring stack and fix alert false positives
  docker-compose.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/prometheus/alerts/service_alerts.yml
  monitoring/prometheus/prometheus.yml
Owners: @devops-lead, @tech-lead, @senior-dev-1

feat: add OpenTelemetry tracing to user-service
  docker-compose.yml
  services/user-service/package.json
  services/user-service/src/server.ts
  services/user-service/src/tracing.ts
Owners: @devops-lead, @tech-lead, @senior-dev-1, @auth-team-lead, @senior-dev-2

chore: update package-lock.json for otel dependencies
  package-lock.json
Owners: @tech-lead

feat: add OpenTelemetry tracing to product-service
  package-lock.json
  services/product-service/package.json
  services/product-service/src/server.ts
  services/product-service/src/tracing.ts
Owners: @tech-lead, @senior-dev-1, @catalog-team-lead, @senior-dev-3

feat: add OpenTelemetry tracing to order and payment services
  package-lock.json
  services/order-service/package.json
  services/order-service/src/server.ts
  services/order-service/src/tracing.ts
  services/payment-service/package.json
  services/payment-service/src/server.ts
  services/payment-service/src/tracing.ts
Owners: @tech-lead, @senior-dev-1, @orders-team-lead, @payments-team-lead, @senior-dev-4, @security-lead

chore: remove compose warnings for local env
  docker-compose.yml
Owners: @devops-lead

Migrate product-service S3 client to AWS SDK v3 with MinIO support
  docker-compose.yml
  package-lock.json
  services/product-service/package.json
  services/product-service/src/services/image.service.ts
Owners: @devops-lead, @tech-lead, @senior-dev-1, @catalog-team-lead, @senior-dev-3

.github/CODEOWNERS:

# CODEOWNERS - Automatically request reviews from code owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - notified on all PRs
* @tech-lead @senior-dev-1

# Service-specific owners
/services/user-service/ @auth-team-lead @senior-dev-2
/services/product-service/ @catalog-team-lead @senior-dev-3
/services/cart-service/ @catalog-team-lead @senior-dev-3
/services/order-service/ @orders-team-lead @senior-dev-1
/services/payment-service/ @payments-team-lead @senior-dev-4 @security-lead
/services/inventory-service/ @inventory-team-lead @senior-dev-2
/services/notification-service/ @platform-team-lead @senior-dev-1
/services/search-service/ @search-team-lead @senior-dev-3

# Shared packages - require broader review
/packages/ @tech-lead @senior-dev-1 @senior-dev-2
/packages/auth/ @auth-team-lead @security-lead
/packages/database/ @dba-lead @senior-dev-1
/packages/events/ @platform-team-lead @senior-dev-2

# Infrastructure - DevOps team approval required
/infrastructure/ @devops-lead @infra-team-lead
/infrastructure/terraform/ @devops-lead @infra-team-lead
/infrastructure/kubernetes/ @devops-lead @k8s-admin
/infrastructure/docker/ @devops-lead
docker-compose.yml @devops-lead
Dockerfile @devops-lead
**/Dockerfile @devops-lead

# CI/CD - DevOps and tech lead approval
/.github/ @tech-lead @devops-lead
/.github/workflows/ @tech-lead @devops-lead
.github/workflows/ci.yml @tech-lead @devops-lead @senior-dev-1

# Security-sensitive files
**/.env.example @security-lead
**/migrations/ @dba-lead
/.husky/ @tech-lead

# Documentation - tech lead review
/docs/ @tech-lead @tech-writer
README.md @tech-lead
CONTRIBUTING.md @tech-lead
CHANGELOG.md @tech-lead

# Configuration files - require careful review
package.json @tech-lead @senior-dev-1
package-lock.json @tech-lead
turbo.json @tech-lead @senior-dev-1
tsconfig.json @tech-lead @senior-dev-1
.eslintrc.js @tech-lead
.prettierrc @tech-lead

# Database schemas and migrations - DBA review required
**/migrations/*.sql @dba-lead @senior-dev-1
**/seeds/*.sql @dba-lead

# Test files - QA team can also review
**/tests/ @qa-lead
**/*.test.ts @qa-lead
**/*.spec.ts @qa-lead
